/* esto es un comentario*/
/* 
Anatomia del CSS
selector {
    propiedas: valor;
    propiedad: valor;
}
*/
body{
    color: #794B8C;
}
h1{
    color: #431456;
    background-color: #9772A6;
}
p{
    color: #5b5b5b;
}
dl{
    color: black
}
a{
    color: #9772A6;
}
h3{
    color: #5E2B71;
}
table{
    color: #000000;
    background-color: #9772A6;
}
th{
    background-color:#C0A6CA ;
}
td{
    background-color: #9a6ea8;
    color: #FFE673;
}
hr{

    color: #D7CBDA;
}
li{
    color: #000000;
}
img{
    width: 400px;
    height: 400px;
}
